html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #1a1a1a;
}
/* text styles */
h1 {
    font-family: 'Martel', serif;
    font-size: 2.5rem;
    font-weight: 800;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(221, 97, 15);
}

.heading h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #474747;
}

h4 {
    font-size: 0.95rem;
    font-weight: 700;
    color: #5f5f5f;
    margin-bottom: 0.5rem;
}

p {
    line-height: 1.5;
    font-size: 0.9rem;
}

/* navigation */
nav {
    display: flex;
    position: fixed;
    width: calc(100% - 3rem);
    height: 4rem;
    align-items: center;
    margin-top: -4rem;
    padding: 0 1.5rem;
    background-color: rgb(227, 236, 243);
    box-shadow: 0 3px rgba(196, 206, 214, 0.7);
}

.logo {
    display: inline-flex;
    flex-grow: 1;
}

#logo-text {
    display: inline-flex;
    align-items: center;
    height: 2rem;
}

.logo img {
    height: 2.25rem;
}

#mobile {
    display: none;
}

#desktop {
    display: inline-flex;
}

#desktop li {
    padding: 1rem;
}

@media only screen and (max-width: 800px) {
    #desktop {
        display: none;
    }
    nav {
        justify-content: space-around;
    }

    #mobile {
        display: inline-flex;
        flex-grow: 2;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 520px) {
    nav {
        justify-content: space-between;
    }

    #mobile {
        justify-content: space-between;
    }

    #logo-text {
        display: none;
    }
}

ul a {
    color: #6e6e6e;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    text-align: center;
    transition: ease-in 0.4s;
}   

ul a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 3px solid rgb(255, 81, 0);
    transition: ease-in 0.4s;
}

a:hover:after {
    width: 100%;
}

#logo-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(95, 95, 95);
}

#logo-text span {
    color: black;
    font-weight: 700;
}

/* header */
header {
    display: flex;
    margin-top: 4rem;
    background-color: #f0f5fc81;
    align-items: center;
}

header img {
    width: 60%;
    margin: 2rem 1.5rem;
}

#start-here {
    width: 90%;
    padding-right: 3rem;
}

#start-here h1 {
    margin-bottom: 2rem;
    color: rgb(221, 97, 15);
}

#start-here h2 {
    max-width: 80%;
    letter-spacing: 0.01rem;
    line-height: 1.2;
    margin-bottom: 2.5rem;
    font-weight: 400;
    color: #4d4d4d;
}

#button {
    max-width: 20rem;
    padding: 0.65rem 0;
    color: white;
    background-color: rgb(221, 97, 15);
    text-align: center;
    letter-spacing: 0.02rem;
}

@media only screen and (max-width: 800px) {
    header {
        display: block;
    }

    header img {
        width: 100%;
        margin: 0 auto;
    }
    
    #start-here, #start-here h1, #start-here h2 {
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
        padding: 1rem;
    }

    #button {
        margin: 1rem auto;
    }
}

#button:hover {
    background-color: rgb(255, 123, 0);
}

/* key info */
#content {
    display: flex;
}

#main {
    width: 60%;
    margin: 2rem 1.5rem;
}

#main img {
    width: 100%;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
    #content {
        display: block;
    }

    #main {
        width: calc(100% - 3rem);
        margin: 1.5rem;
    }

    #main img {
        max-width: 100%;
    }
}

.blurb {
    padding-bottom: 1rem;
}

.blurb h2, .blurb h3 {
    padding-bottom: 0.5rem;
    color: #4d4d4d;
}

.blurb h3 {
    font-size: 1.25rem;
}

.blurb span {
    font-size: 0.9rem;
}

/* info-cards */
#info {
    width: 40%;
    margin: 1rem 0;
}

.info-text {
    width: 65%;
    padding-right: 1.5rem;
}

.card {
    display: flex;
    align-items: center;
    height: calc(100% / 3);
    transition: linear 0.4s;
}

.mobile-img {
    display: none;
}

.card:nth-child(-n+2) {
    background-color: rgba(255, 252, 247, 0.836);
    border-bottom: 1px solid rgb(235, 227, 221);
}

.card:nth-child(3) {
    background-color: rgba(255, 252, 247, 0.836);
}

.card:hover {
    box-shadow: -10px 0px rgb(221, 97, 15);
    transition: linear 0.4s;
}

@media only screen and (min-width: 801px) {
    .imgcontainer {
        width: 35%;
        padding: 1rem;
    }
}

.imgcontainer img {
    width: 100%;
    height: auto;
}

.readmore {
    color: rgb(221, 97, 15);
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 2.5rem;
}

.readmore:hover { 
    color: rgb(255, 81, 0);
}

@media only screen and (max-width: 800px) {
    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: block;
        width: 100%;
    }

    .card {
        padding: 0.5rem;
    }

    #info {
        width: 100%;
        margin: 0 auto 2rem auto;
    }

    .info-text {
        width: 90%;
        padding: 1rem;
    }

    .imgcontainer {
        width: 100%;
        margin: 1rem 0;
    }
}

@media only screen and (max-width: 520px) {
    .card {
        display: block;
    }

    .mobile-img {
        width: 100%;
    }
}

/* courses */
.text.mobile {
    display: none;
}

#courses {
    background-color: aliceblue;
    padding: 1rem;
}

#course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
}

.course {
    width: 25%;
    margin: 1rem;  
    background-color: white;
    transition: linear 0.4s;
}

.course:hover {
    box-shadow: 0px 7px rgb(221, 97, 15);
    transition: linear 0.4s;
}

.course img {
    width: 100%;
    height: auto;
}

.text {
    padding: 1rem;
}

.text h3 {
    padding: 0.5rem 0;
    color: rgb(0, 18, 66);
}

.text p {
    padding: 0.25rem 0;
}

@media only screen and (max-width: 900px) and (min-width: 672px) {
    .courses {
        padding: .25rem;
    }

    .course {
        width: 45%;
    }
}

@media only screen and (max-width: 671px) and (min-width: 421px) {
    .course {
        width: 75%;
    }
}

@media only screen and (max-width: 420px) {
    #course-container {
        display: block;
        width: 100%;
        padding-bottom: 1rem;
    }

    .course {
        width: 100%;
        margin: 1rem auto;
    }

    .heading h2 {
        padding: 1rem;
    }

    .course img {
        display: none;
    }

    .text {
        display: none;
    }

    .text.mobile {
        display: inline-flex;
        align-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
    }

    .text.mobile h3 {
        margin: 0 auto;
        padding-left: 1rem;
        font-size: 1rem;
    }
}

/* thesis exhibit */
#thesis-exhibit {
    padding: 1.5rem;
}

#exhibit-container {
    display: flex;
}

#featured-thesis {
    width: 60%;
}

#featured-thesis video {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

#thesis-card-container {
    width: 40%;
}

.thesis-card {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
    border-bottom: 1px solid rgb(235, 227, 221);
    transition: ease-out 0.4s;
}

.thesis-card:hover {
    background-color: rgb(246, 251, 255);
    transition: ease-out 0.4s;
}

.thesis-card img {
    width: 35%;
    height: auto;
}

.thesis-card .text {
    width: 65%;
}

@media only screen and (max-width: 800px) {
    #exhibit-container {
        display: block;
    }

    #featured-thesis {
        width: 100%;
        padding-bottom: 1rem;
    }

    #thesis-card-container {
        width: 80%;
        margin: 0 auto;
    }

    #featured-thesis .blurb {
        display: none;
    }
}

@media only screen and (max-width: 520px) {
    #thesis-exhibit {
        padding: 0;
    }

    #thesis-card-container {
        display: none;
        width: 100%;
    }
}

/* footer */
footer {
    display: flex;
    padding: 1rem;
    height: 3rem;
    background-color: rgb(0, 18, 66);
    color: white;
}

#copyright {
    display: inline-flex;
    flex-grow: 1;
    padding-left: 0.5rem;
    font-size: 0.8rem;
}

footer ul {
    display: inline-flex;
}

footer li {
    padding-right: 1rem;
    font-size: 0.8rem;
}

@media only screen and (max-width: 800px) {
    footer {
        display: block;
        height: auto;
    }

    #copyright {
        display: block;
        margin: 0 auto;
    }

    footer ul {
        display: none;
    }
}